In [5]:
import pandas as pd
import numpy as np

In [6]:
All_desa = pd.read_pickle('/Users/Danial/UMCUtrecht/ProcessedData/DSAandDESA/20200916_DESA_new_All.pickle')
All_desa.shape
# this data frame is as large as upscaled dataframe with 4736 Tx

(4736, 6)

In [11]:
# Kamburova_suplim = pd.read_excel('/Users/Danial/UMCUtrecht/KaplanMeier/Kambruva_KM_Suplimentary_Data.xlsx')
# Kamburova_suplim[['TransplantID', 'TypeOfDonor_NOTR']]

In [12]:
desa = pd.read_pickle('../data/desa_3d_view.pickle')
# desa.to_pickle('../data/desa_3d_view.pickle')

In [10]:
# path = '/Users/Danial/UMCUtrecht/PredictiveModelingData/20200907_Data_Modeling.pickle'
# db = pd.read_pickle(path)

In [6]:
desa = desa.merge(Kamburova_suplim[['TransplantID', 'TypeOfDonor_NOTR']], on='TransplantID')

In [7]:
desa.rename(columns={'TypeOfDonor_NOTR':'Donor_Type'}, inplace=True)

In [65]:
# desa.to_pickle('../data/desa_3d_view.pickle')

In [8]:
desa.Donor_Type.value_counts()

Deceased    315
Living      124
Name: Donor_Type, dtype: int64

In [52]:
desa.drop('Status', axis=1).to_pickle('../data/desa_3d_view.pickle')

In [33]:
import pymongo
from pymongo import MongoClient
mongo_client = MongoClient('localhost', 27017) # build a new client instance of MongoClient
db = mongo_client.desa_database # create new database
desa_col = db['desa_db'] # create new collection instance

In [42]:
desa_df =  pd.read_pickle('../data/desa_3d_view.pickle')

In [44]:
data_dict = desa_df.to_dict("records") # convert to dictionary

In [49]:
# desa_col.insert_many(data_dict) # inesrt into DB

In [66]:
desa

,TransplantID,Status,DESA_Epitope,#DESA,EpvsHLA_Pos,EpvsHLA_Donor,Failure,Survival[Y],DESA->Donor_HLA,Donor_HLA,Donor_HLA_Class,Donor_Type
0,327,DESA,"{62GRN, 44RMA, 97V, 62GE, 94I, 71SA, 74Y}",7,"{'62GRN': {'B*57:01', 'B*58:01'}, '97V': {'B*5...","{'44RMA': 'B*57:01', '62GE': 'B*57:01', '94I':...",1,0.287671,{'B*57:01': 7},{B*57},I,Deceased
1,369,DESA,"{57V[DR], 38L, 26L[DR], 85A, 37L}",5,"{'85A': {'DRB1*12:01', 'DRB5*02:02', 'DRB1*01:...","{'26L[DR]': 'DRB1*12:01', '57V[DR]': 'DRB1*12:...",2,13.326027,{'DRB1*12:01': 5},{DRB1*12},II,Deceased
2,5580,DESA,"{55PP, 45EV, 55PPD}",3,"{'55PP': {'DQB1*03:02', 'DQB1*03:03', 'DQB1*03...","{'55PP': 'DQB1*03:01', '45EV': 'DQB1*03:01', '...",0,12.008219,{'DQB1*03:01': 3},{DQB1*03},II,Living
3,72,DESA,"{30D, 30H[DQ], 52PQ, 86A, 9F[DQ], 125G, 55RPD,...",11,"{'55RPD': {'DQB1*06:03', 'DQB1*06:02', 'DQB1*0...","{'70GT': 'DQB1*06:02', '86A': 'DQB1*06:02', '1...",2,5.539726,"{'DQB1*06:02': 9, 'DQB1*06:03': 1, 'DRB5*01:01...","{DRB5*01, DQB1*06}",II,Living
4,279,DESA,"{71E, 47F, 149H, 181T, 70Q, 98Q, 13SE, 74A, 98...",25,"{'32H': {'DRB3*03:01', 'DRB1*03:03', 'DRB1*03:...","{'32H': 'DRB1*13:02', '98Q': 'DRB3*03:01', '4R...",1,0.000000,"{'DRB1*13:02': 18, 'DRB3*03:01': 7}","{DRB1*13, DRB3*03}",II,Deceased
...,...,...,...,...,...,...,...,...,...,...,...,...
434,954,DESA,"{211T, 77NGT, 163RW, 163R, 90D, 16S, 76ANT, 80...",9,"{'163R': {'A*43:01', 'A*26:01', 'A*66:01', 'A*...","{'163R': 'A*26:01', '77NGT': 'A*26:01', '90D':...",0,11.005479,"{'A*26:01': 6, 'C*02:02': 3}","{C*02, A*26}",I,Living
435,961,DESA,{30RV},1,{'30RV': {'DRB1*10:01'}},{'30RV': 'DRB1*10:01'},1,8.304110,{'DRB1*10:01': 1},{DRB1*10},II,Deceased
436,973,DESA,"{77NGT, 163R, 66NM, 125SQ, 97I, 37YV[DQ], 77R,...",18,"{'97I': {'A*34:02', 'A*30:01', 'A*36:01', 'A*1...","{'125SQ': 'DQB1*05:01', '37YV[DQ]': 'DQB1*05:0...",0,16.010959,"{'DQB1*05:01': 4, 'A*01:01': 14}","{A*01, DQB1*05}","I,II",Deceased
437,974,DESA,"{71TD, 80TLR, 82LR, 76ET, 76ED}",5,"{'76ED': {'B*47:01', 'B*27:03', 'B*27:05', 'B*...","{'80TLR': 'B*37:01', '71TD': 'B*37:01', '76ED'...",1,0.076712,{'B*37:01': 5},{B*37},I,Deceased
438,98,DESA,"{163RW, 163R, 151AHA, 156QA, 152HA, 152A}",6,"{'151AHA': {'A*11:01', 'A*11:02'}, '156QA': {'...","{'151AHA': 'A*11:01', '152A': 'A*11:01', '152H...",2,8.128767,{'A*11:01': 6},{A*11},I,Deceased